body{
	background-color: white;
}

h2{
	margin-left: 215px;
	color: #FF6347;
	
}
h2, .main{
	font-family: sans-serif;
}
.main{
	width: 200px;
	height: 300px;
	position: relative;
	top: 30px;
	left: 20%;
	border: 2px solid;
	padding-left: 25px;
	background-color: #696969;
	border-radius: 10px;
}
.output
{
	background-color: #222;
	width:100%;
	margin-left: -15px;
	position: relative;
	height: 40px; 	

}
.output input
{
	background-color: #bccd95;
	position: relative;
	height: 35px;
	text-align: right;
	color: black;
	font-size: 16px;
}

.all_buttons{
	position: relative;
	top: 20px;
}
.btn
{
	padding:7px;
	width: 30px;
	height: 30px;
	/*letter-spacing: 5px;*/
	cursor: pointer;
	border-radius: 8px;
	border-top:2px solid transparent;
	border-left: 1px solid transparent;
}

.white-style{
	color: black;
	background-color: #FFDEAD;
	
}
.red-style{
	background-color: red;
}
.orange-style{
	background-color: #FF8C00 ;
}